/* Crafted with love by wolfcreative.ru :3 */
@font-face {font-family:'TT Norms Regular';src:url('../fonts/TTNorms-Regular.eot');src:url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/TTNorms-Regular.woff') format('woff'),url('../fonts/TTNorms-Regular.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face {font-family:'TT Norms Medium';src:url('../fonts/TTNorms-Medium.eot');src:url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/TTNorms-Medium.woff') format('woff'),url('../fonts/TTNorms-Medium.ttf') format('truetype');font-weight:normal;font-style:normal}

%container-padding{padding:45px 0 55px}
$color-green:#3cc249;
$color-grey:#575757;

body{
    max-width:1920px;margin:0 auto;font-family:'TT Norms Regular',sans-serif;font-size:16px;line-height:1.4;color:#111;
    @media (max-width:959px){font-size:14px;line-height:22px}
}
.uk-container{max-width:1140px}
a{color:$color-grey;transition:.2s ease-in-out}
a:hover,a:focus{color:$color-green;text-decoration:none;transition:.2s ease-in-out}
b,strong{font-weight:normal;font-family:'TT Norms Medium',sans-serif}
sup{font-size:11px}
hr{width:43px;border-color:$color-green;border-width:2px}


header{
    .uk-sticky{
        background:#fafafa;padding:15px 0;
        @media(max-width:639px){padding:10px 0}

        img{@media(max-width:439px){max-width:150px}}
        
        .uk-navbar-nav>li{
            >a{
                min-height:40px;color:$color-grey;text-transform:none;font:14px "TT Norms Medium",sans-serif;
                &:hover,&:focus{color:$color-green}
            }
            @media(max-width:1199px){display:none}
        }

        .phone{
            a{font:20px "TT Norms Medium",sans-serif}
            span{font-size:14px;color:$color-grey}
        }
    }
}

.afterhead{
    background:url(../img/backgrounds/afterhead.jpg) no-repeat right center / cover;padding:45px 0 55px;
    
    h1{
        font:39px "TT Norms Medium",sans-serif;
        @media (max-width:1279px){font-size:38px}
        @media (max-width:959px){font-size:28px}
        @media (max-width:639px){font-size:24px}

        span{
            font-size:30px;color:$color-green;display:block;
            @media (max-width:1279px){font-size:28px}
            @media (max-width:959px){font-size:22px}
            @media (max-width:639px){font-size:20px}
        }
    }
}

.custom-form{max-width:440px;background:#fff; border:4px solid $color-green;border-radius:1px;padding:30px 25px 20px;box-sizing:border-box}

.ourpluses{
    background:url(../img/backgrounds/crystal.jpg) no-repeat center / cover;padding:45px 0 50px;

    h3{max-width:196px}
}

.services{
    @extend %container-padding;

    .uk-background-cover{
        border-radius:7px;

        .wrapper{
            min-height:190px;background-color:rgba(73, 73, 73, 0.78);border-radius:7px;padding:15px 25px;
    
            h3{
                font-size:26px;color:$color-green;margin:0;
                @media (max-width:639px){font-size:20px}
            }

            p{color:#fff}
        }
    }
}

.price{
    @extend %container-padding;

    .uk-card{@media (max-width:439px){padding-left:10px;padding-right:10px}}

    .uk-card-white{
        background:#f5f6f5;

        .uk-subnav li{
            margin-bottom:5px;
            
            a{
                background:#e1e1e1;color:#797979;text-transform:none;font-size:15px;border-radius:100px;padding:10px 20px;
                @media (max-width:439px){font-size:13px;padding:6px 12px}
            }
            &.uk-active a{background:$color-green;color:#fff}
        }

        .uk-card-default{
            font:18px 'TT Norms Medium',sans-serif;color:#111;
            @media (max-width:439px){font-size:14px}

            span{
                font-size:22px;color:$color-green;display:block;
                @media (max-width:439px){font-size:16px}
            }
        }
    }
}

.callback-block{
    background:url(../img/backgrounds/callback.jpg) no-repeat right center / cover;padding:61px 0 55px;
}

.companies{padding:61px 0 55px}

.worksteps{
    @extend %container-padding;
    background:$color-green;

    .number{font:bold 36px 'TT Norms Medium',sans-serif}
    h3{font-size:22px;margin:15px 0 0}
    hr{width:61px;border-color:#fff}
}

.ourworks{
    @extend %container-padding;

    img{width:100%}

    .uk-slidenav{
        background:$color-green;border-radius:100px;padding:7px 12px;
        &:hover,&:focus{background:darken($color-green, 10%)}
    }

    .video{border:2px solid $color-green}

    .uk-list{
        li{
            position: relative;padding-left:55px;
            &:before{content:url(../img/awesome/li.svg);width:40px;position:absolute;top:50%;left:20px;transform: translate(-50%, -50%)}
        }
    }
}

.reviews{@extend %container-padding}

.license{@extend %container-padding}

footer{
    background:#fafafa;padding:40px 0;color:rgb(160, 160, 160)  ;
    
    img{@media(max-width:439px){max-width:150px}}
    
    .uk-navbar-nav>li{
        >a{
            min-height:40px;color:$color-grey;text-transform:none;font:14px "TT Norms Medium",sans-serif;
            &:hover,&:focus{color:$color-green}
        }
        @media(max-width:1199px){display:none}
    }

    .phone{
        a{font:20px "TT Norms Medium",sans-serif}
        span{font-size:14px;color:$color-grey}
    }
}

/* Headers */
h2{
    font:36px 'TT Norms Regular',sans-serif;
    @media (max-width:959px){font-size:28px}
    @media (max-width:639px){font-size:24px}
}
h3{font:16px 'TT Norms Medium',sans-serif}

/* Buttons */
.uk-button{
    font-size:16px;line-height:40px;text-transform:none;border-radius:100px;

    &.uk-button-green{
        background:$color-green;color:#fff;border:1px solid $color-green;
        &:hover,&:focus{background:#ffe500;border-color:#ffe500;color:#111}
    }
    &.uk-button-yellow{
        background:#ffe500;color:#111;border:1px solid #ffe500;
        &:hover,&:focus{background:darken(#ffe500, 5%);border-color:darken(#ffe500, 5%);color:#111}
    }
}

/* Replaces */
.uk-light *{color:#fff}
.uk-dotnav>*>*{width:16px;height:16px}
.uk-dotnav>.uk-active>*{background:$color-green}
.uk-lightbox{background:rgba(0,0,0,.7)}
.uk-input{border:2px solid #ccc;border-radius:100px}